<!-- views/partials/footer.ejs -->
<!-- Social Media icons -->
<div class="sm"> <!-- A box to hold the images "Facebook" & "Twitter" -->
  <a class="facebook" href="https://en-gb.facebook.com"> <!-- A Facebook URL Link -->
    <img class="facebook" src="/img/facebook.png" alt="facebook logo">
    <!-- Facebook image which has been changed into an icon for users to click on -->
  </a>
  <a class="twitter"
  href="https://twitter.com/">
    <img class="twitter" src="/img/twitter.png" alt="twitter logo">
</a>
</div>

<!-- contact details -->
<div id="contact">CM2014 Dynamic Web Development</div>

<!-- copyright information -->
<p class="copyright">2018 &copy; Copyright: PinPints</p>
