<!doctype html>
<html>
<head>
  <!-- ejs file for the header information  -->
<% include ../partials/head %>

    <title>Pin Pints | My Account</title>       <!-- Defining the title of the page -->
</head>

<body>

  <div id="banner">    <!-- Created a div for the banner -->
    <!-- ejs file where the navbar and banner are contained -->
  <% include ../partials/banner %>
  </div>


<div class="wrapper">
    <main>
        <div class="contactus">
            <h2>Change Password</h2>
            <form>  <!-- Creating a form for users with accounts to change their password -->
                <div class="form-group">

                    <input type="password" id="password" class="form-control" placeholder="Enter Current Password"
                           required="required" data-toggle="password">
                </div>    <!-- Input box for users to enter their current password -->
                <div class="form-group">

                    <input type="password" id="password" class="form-control" placeholder="Enter New Password"
                           required="required" data-toggle="password">
                </div>   <!-- Input box for users to enter their new password -->
                <div class="form-group">

                    <input type="password" id="password" class="form-control" placeholder="Confirm New Password"
                           required="required" data-toggle="password">
                </div>   <!-- Input box for users to confirm their new password -->
                <input type="submit" class="btn btn-primary mr-auto" value="Change Password">
                <!-- Submit button when pressed will change the password of the user -->
                <div class="form-group">
                    <br/>
                    <input href="#deleteAccount" type="button" class="btn btn-danger" data-toggle="modal"
                           value="Delete Account">   <!-- Button to delete a users account when pressed -->
                </div>
            </form>
        </div>
    </main>

    <!-- Modal Login https://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=simple-modal-login-form-->
    <div id="modalLogin" class="modal fade">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <form action="/login" id="loginForm" method="post">
                    <!-- Creating a form for user to be able to login -->
                    <div class="modal-header">
                        <h4 class="modal-title">Login</h4>
                    </div>
                    <div class="modal-body">
                        <div id="login-message"></div>

                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" placeholder="Enter Email Address"
                                   required="required" autocomplete="email" name="email">
                            <!-- Input box for users to enter their email address -->
                        </div>
                        <div class="form-group">
                            <div class="clearfix">
                                <label>Password</label>
                                <!-- TODO forgot password page -->
                                <a href="#" class="pull-right text-muted">
                                    <small>Forgot?</small>
                                </a>
                            </div>
                            <input type="password" class="form-control password" placeholder="Enter Password"
                                   required="required" autocomplete="current-password" data-toggle="password"
                                   name="password">   <!-- Input box for user to enter their password -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary mr-auto" value="Login">
                        <!-- Button when pressed will login user if details are correct -->
                        <input type="button" class="btn btn-danger" data-dismiss="modal" value="Cancel">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal Register -->
    <div id="modalRegister" class="modal fade">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <form action="/register" id="registerForm" method="post">
                    <!-- Creating a form for the user to register -->
                    <div class="modal-header">
                        <h4 class="modal-title">Register</h4>
                    </div>
                    <div class="modal-body">
                        <div id="register-message"></div>
                        <div class="form-group">
                            <label>Pseudo</label>
                            <input type="text" class="form-control" name="login" placeholder="Enter your pseudo"
                                   required="required" autocomplete="nickname">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" placeholder="Enter Email Address"
                                   required="required" autocomplete="email" name="email">
                            <!-- Input box for users to enter their email address -->
                        </div>
                        <div class="form-group">
                            <div class="clearfix">
                                <label>Password</label>
                            </div>
                            <input type="password" class="form-control password" placeholder="Enter Password"
                                   required="required" autocomplete="new-password" data-toggle="password"
                                   name="password">      <!-- Input box for user to enter their password -->
                        </div>
                        <div class="form-group">
                            <div class="clearfix">
                                <label>Repeat Password</label>
                            </div>
                            <input type="password" class="form-control password" placeholder="Re-enter Password"
                                   required="required" autocomplete="new-password" data-toggle="password"
                                   name="confirmPassword">   <!-- Input box for user to re-enter their password -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary mr-auto" value="Register">
                        <!-- Button when pressed will login user if details are correct -->
                        <input type="button" class="btn btn-danger" data-dismiss="modal" value="Cancel">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Delete Account -->
    <div id="deleteAccount" class="modal fade">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <!-- TODO add delete account function -->
                <form action="" method="post">
                    <!-- Creating a form for the user to be able to delete their account -->
                    <div class="modal-header">
                        <h4 class="modal-title">Remove Account</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" placeholder="Enter Email Address"
                                   required="required">    <!-- Input box for user to enter their email address -->
                        </div>
                        <div class="form-group">
                            <div class="clearfix">
                                <label>Password</label>
                            </div>
                            <input type="password" id="password" class="form-control" placeholder="Enter Password"
                                   required="required" data-toggle="password">
                            <!-- Input box for user to enter their password -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-danger mr-auto" value="Remove My Account">
                        <!-- Button when pressed will delete a users account from the corresponding details -->
                        <input type="button" class="btn btn-primary" data-dismiss="modal" value="Cancel">
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Foooter -->
    <footer class="footer">
        <!-- Creating a footer at the bottom of the homepage for the contact details and social media links -->
        <!-- Social Media icons -->
        <div class="sm">
            <a class="facebook" href="https://en-gb.facebook.com">
                <img class="facebook" src="img/facebook.png" alt="missing facebook">
            </a>
            <a class="twitter"
               href="https://twitter.com/Twitter?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
                <img class="twitter" src="img/twitter.png" alt="Missing twitter">
            </a>
        </div>

        <!-- contact details -->
        <div id="contact">1 Test Street | Aberdeen | AB87 ER2 <br/>
            contact@pinpints.com
        </div>       <!-- Paragraph for the address and email -->

        <!-- copyright information -->
        <p class="copyright">
            2018 &copy; Copyright: PinPints
        </p>         <!-- Paragraph for the Copyright -->

    </footer>
</div>
</body>

</html>
