@charset "utf-8";
/* CSS Document */
body{
	margin: 0;
	padding: 0;
	background-color:#CCCCCC;
}

wrapper{
	width: 100%;
	height: auto;
}
header{
	width: 100%;
	height: 4.375em; */
	/*background-color: #2A5EC5; */
}
#banner{
	width: 100%;
	background-image:url('img/bg_banner.jpg');
	font-family: 'Shrikhand', cursive;
	color: white;
}
#bannerText{
	position:absolute;
	top:0.2em;
	left:2em;
	font-size: 3.125em;
}

/*resize text if screen too small*/
@media (max-width: 500px) {
	#bannerText{font-size: 2em;
		position:absolute;
		top:0.4em;
		left:3em;}
	}
.pinpintBanner{
	width: 100%;
	height: 6.25em;
	vertical-align: top;
}

.navbar{
	width: 100%;
	height: auto;
	padding-bottom: 0.625em;
	position: fixed;
}

.navbar a:hover {
	background: #696969;
}


.brand{
	position: absolute;
	left: 0.625em;
	top: 0.625em;
	z-index: 1;
	width: 5em;
	height: 5em;
}

#register{
	position: absolute;
	right: 0.625em;
	top: 0.625em;
	width: auto;
	height: auto;
	/*background-color: #0F0; */
	list-style-type:none;
	display:inline;
}
.registertxt, .logintxt{
	margin: 0 5% 0 5%;
	font-size: 1.2em;
	color: white;
	text-align: right;
}
.registertxt:hover{
	background: #696969;
	cursor: pointer;
}
.logintxt:hover{
	background: #696969;
	cursor: pointer;
}


main{
	width: 100%;
	height: auto;
	/*	background-color: #00FF00; */
	float: left;
}
/*
#Boxholder{
	width: 15%;
	height: auto;
} */
#container{
	width: 100%;
	height: 500px;
	/*background-color: #00F; */
	float: right;
	/* border: solid #000000 0.063em; */
}

.HEADINGMAP{
	text-align: center;
	margin-top:15%;
	color: #000;
}
#overlay{
	width: 75%;
	height: 37.5em;
	background:rgba(107, 107, 107, 1);
	position: absolute;
	z-index: -1;
	left: 30em;
	top: 6.25em;
}

.closetome{
		/* background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.findbar{
	float:left;
	margin: 10% 0 0 15%;
	font-size: 1.25em;
	/*background-color:#0CF; */
	width:70%;
}
#submitbar{
	cursor: pointer;
	margin-left: 35%;
}
#textboxbar{
	margin-left: 20%;
	margin-top:5%;
}

#aboutbox{
	width:28.125em;
	height:auto;
	/*background-color:#0000FF;*/
	float:left;
	margin: 1.875em 0 0 0.625em;
}
.abouttxt{
	color:#000000;
	padding: 0 0.938em 0 0.938em;
}
#aboutimgholder{
	width: 15.625em;
	height: 32.5em;
	float:left;
}
.aboutbox_images{
	width: 15.625em;
	height: 15.625em;
	float:left;
	margin:2.813em 0 0 3.75em;
	/*background-color:#00FF00; */

}
.barimage1{
	width:100%;
	height:auto;
	border-radius:1.25em;
}
.barimage1:hover{
	opacity:0.5;
	cursor:pointer;
}

#formholder{
	width: 31.25em;
	height: auto;
	float: left;
	margin-left: 0.938em;
	margin-top: 3.125em;
	/*background-color:#336699; */
}

input[type=text], select, #subject {
	width: 28.125em;
	padding: 1.25em;
	border: 0.063em solid #ccc;
	border-radius: 0.25em;
	box-sizing: border-box;
	margin-top: 0.375em;
	margin-bottom: 0.375em;
}
/* Style the submit button with a specific background color etc */
input[type=reset] {
	background-color: #4CAF50;
	color: white;
	padding: 0.75em 1.25em;
	border: none;
	border-radius: 0.25em;
	cursor: pointer;
}
input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 0.75em 0.625em 0.75em;
	border: none;
	border-radius: 0.25em;
	cursor: pointer;
}
#submitform{
	width:5em;
	text-align:center;
}
/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
	background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container-contacts {
	border-radius: 0.313em;
	background-color: #f2f2f2;
	padding: 0.625em;

}
#sent{
	width:18.75em;
	height:auto;
	/*background:#0000FF; */
	display:none;
}
.sented{
	font-size:1.25em;
	display:none;
	cursor:pointer;
}

footer{
	width: 100%;
	height: 4.375em;
	background-color: #1f1f1f;
	float:left;
	display: block;
	justify-content: center;
	bottom:0;
	left:0;
	color: white;
	display:inline;
}

#contact{
	display:inline;
}

.sm{
	float: left;
	margin-left: center;
	text-align: center;
	width: 100%;
}
.facebook,.twitter{
	width: 3.125em;
	height: 3.125em;
	margin: 0.313em 0.313em 0em;
	text-decoration: none;
}
.facebook:hover{
	opacity: 0.5;
	cursor: pointer;
}
.twitter:hover{
	opacity: 0.5;
	cursor: pointer;
}
.copyright{
	font-size: 0.75em;
	padding-top: 0.313em;
	padding-right: 0.313em;
	display: inline;
	position: absolute;
	right: 0em;
}

.cr_text{
	text-decoration: none;
	color: white;
}

/****************************************************************/
/* Full-width input fields */
input[type=text], input[type=password], input[type=email] {
	width: 100%;
	padding: 0.75em 1.25em;
	margin: 0.5em 0;
	display: inline-block;
	border: 0.063em solid #ccc;
	box-sizing: border-box;
}

/* Set a style for all buttons */
button {
	background-color: #4CAF50;
	color: white;
	padding: 0.875em 1.25em;
	margin: 0.5em 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

button:hover {
	opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
	width: auto;
	padding: 0.625em 1.125em;
	background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
	text-align: center;
	margin: 1.5em 0 0.75em 0;
	position: relative;
}

img.avatar {
	width: 40%;
	border-radius: 50%;
}

.container {
	padding: 1em;
}

span.psw {
	float: right;
	padding-top: 1em;
}

/* The Modal (background) */
.modal{
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: hidden; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	padding-top: 2.5em;
}
.modal2{
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: hidden; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	padding-top: 2.5em;
}
/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
	border: 0.063em solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}
.modal-content2 {
	background-color: #fefefe;
	margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
	border: 0.063em solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
	position: absolute;
	right: 1.563em;
	top: 0;
	color: #000;
	font-size: 2.5em;
	font-weight: bold;
}
.close:hover,
.close:focus {
	color: red;
	cursor: pointer;
}

/* Add Zoom Animation */
.animate {
	-webkit-animation: animatezoom 1.0s;
	animation: animatezoom 1.0s
}

@-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)}
	to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
	from {transform: scale(0)}
	to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 18.75em) {
	span.psw {
		display: block;
		float: none;
	}
	.cancelbtn {
		width: 100%;
	}
}
#login_pinpintlogo{
	width: 20%;
	height: auto;
}

/*#blursignin{
width: 100%;
height: 100vh;
background-color: #000000;
filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
-webkit-filter: url(#blur-filter);
filter: url(#blur-filter);
-webkit-filter: blur(0.188em);
filter: blur(0.188em);
display: hidden;
}*/
#map {
	height: 100%;
	width: 100%;
}

.searchfunction{
	position: relative;
	top: -100%;
}

.location-loading {
	display: none;
	position: relative;
	top: -50%;
}

.ball {
	background-color: rgba(0, 0, 0, 0);
	border: 0.313em solid rgba(0, 183, 229, 0.9);
	opacity: .9;
	border-top: 0.313em solid rgba(0, 0, 0, 0);
	border-left: 0.313em solid rgba(0, 0, 0, 0);
	border-radius: 3.125em;
	box-shadow: 0 0 2.188em #2187e7;
	width: 3.125em;
	height: 3.125em;
	margin: 0 auto;
	-moz-animation: spin .5s infinite linear;
	-webkit-animation: spin .5s infinite linear;
}

.ball1 {
	background-color: rgba(0, 0, 0, 0);
	border: 0.313em solid rgba(0, 183, 229, 0.9);
	opacity: .9;
	border-top: 0.313em solid rgba(0, 0, 0, 0);
	border-left: 0.313em solid rgba(0, 0, 0, 0);
	border-radius: 3.125em;
	box-shadow: 0 0 0.938em #2187e7;
	width: 1.875em;
	height: 1.875em;
	margin: 0 auto;
	position: relative;
	top: -2.5em;
	-moz-animation: spinoff .5s infinite linear;
	-webkit-animation: spinoff .5s infinite linear;
}

@-moz-keyframes spin {
	0% {
		-moz-transform: rotate(0deg);
	}

	100% {
		-moz-transform: rotate(360deg);
	}
}

@-moz-keyframes spinoff {
	0% {
		-moz-transform: rotate(0deg);
	}

	100% {
		-moz-transform: rotate(-360deg);
	}
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-webkit-keyframes spinoff {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(-360deg);
	}
}

.map-error {
	top: -50%;
	width: 5%;
	position: relative;
	background-color: red;

}
